.card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 5px #ccc;
    width: 45%;
    float: left;
}
 .clearfix {
    clear: both;
}
body {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
form {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    margin: 50px auto;
}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}
input[type="text"], input[type="password"] {
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
input[type="text"]:focus, input[type="password"]:focus, input[type="radio"]:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-color: #f45b69;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease-out;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button[type="submit"]:hover {
    background-color: #ef3d47;
}