@media (min-width: 992px) and (max-width: 1199px) {
    .header_section {
        background-size: cover;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        background-size: cover;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header_section {
        background-size: cover;
    }
}

@media (max-width: 575px) {
    .header_section {
        background-size: cover;
    }
}