<!-- 用户信息界面 -->
<!-- 用户头像 -->
<!-- 账号信息：用户名/密码/邮箱 -->
<div class="user-info d-flex justify-content-start align-items-baseline">
    <div class="card rounded-3 div_Account">
        <div class="card-header">
        账号信息
        </div>
        <div class="card-body shadow-sm">
        <span>用户名：</span>
        <span id="userName"></span>
        <br>
        <span>邮箱：</span>
        <span id="userEmail"></span>
        </div> 
        <!-- <div class="card-footer"></div> -->
    </div>
    <!-- 个人信息：姓名/性别/电话号码/身份证号 -->
    <div class="card rounded-3 div_profile">
        <div class="card-header">
        个人信息
        </div>
        <div class="card-body shadow-sm">
        <div class="show_profile">
            <span>姓    名：</span>
            <span id="name"></span>
            <br>
            <span>性    别：</span>
            <span id="gender"></span>
            <br>
            <span>电话号码：</span>
            <span id="phone_number"></span>
            <br>
            <span>身份证号：</span>
            <span id="id_number"></span>
        </div>
        <div class="edit_profile" style="display: none;">
            <form id="formEditProfile" onsubmit="return false;">
            <h3>用户信息</h3>
            <div class="mb-3 mt-3">
                <label for="edit_name" class="form-label">姓&nbsp;&nbsp;&nbsp;名:</label>
                <input type="text" class="form-control" id="edit_name" name="edit_name" required>
            </div>
            <div class="mb-3">
                <label for="edit_gender" class="form-label">性&nbsp;&nbsp;&nbsp;别：</label>
                <input type="text" class="form-control" id="edit_gender" name="edit_gender" required>
            </div>
            <div class="mb-3">
                <label  for="edit_phone_number" class="form-label">电话号码</label>
                <input type="text" class="form-control"  id="edit_phone_number" name="edit_phone_number" required>
                <span id="phoneNumCheckSpan"  style="color: red"></span>
            </div>
            <div class="mb-3">
                <label for="edit_id_number" class="form-label">身份证号</label>
                <input type="text" class="form-control" id="edit_id_number" name="edit_id_number" required>
                <span id="idNumCheckSpan"  style="color: red"></span>
            </div>
            </form>
        </div>
        <button class='btn btn-primary' type="button" id="btn_edit_profile">编辑</button>
        <div id="btn_profile_submit_cancel" style="display: none;">
            <button class="btn btn-primary" type="button" id="btn_submit_profile">保存</button>
            <button class="btn btn-primary" type="button" id="btn_cancel_profile">取消</button>
        </div>
        </div> 
    </div>
    </div>